
<%- include('partials/header')%>
    <%- include("partials/nav")%>
    <div class="flex items-center justify-center w-[full] h-[full] flex-col">
        <h1 class="text-blue-700 text-6xl mt-[10px] mb-[20px]"><%=title%></h1>

        <form action="/expense/create" method="post" class="flex flex-col justify-center items-start w-[480px] gap-[10px]">

            <div>
                <label class="text-xl mr-4">Enter Title:</label>
                <input class="p-[5px]" type="text" name="title" placeholder="Title">
            </div>
            
            <div>
                <label class="text-xl mr-4">Enter Amount:</label>
                <input class="p-[5px]" type="number" name="amount" placeholder="Amount">
            </div>
        
            <div>
                <label class="text-xl mr-4">Enter Category:</label>
                <input class="p-[5px]" type="text" name="category" placeholder="Category">
            </div>
            
            <div>
                <label class="text-xl mr-4">Enter Remark:</label>
                <input class="p-[5px]" type="text" name="remark" placeholder="Remark">
            </div>

            <div>
                <label class="text-xl mr-4">Enter Payment Mode:</label>
                <input class="p-[5px]" type="text" name="paymentmode" placeholder="Payment Mode">
            </div>

        

        <button class="p-[10px] bg-blue-700 rounded-xl hover:bg-blue-900 text-white text-xl">Log Expense</button>

        </form>
    </div>
    
    
<%- include('partials/footer')%>
