<%- include('partials/header')%>
<%- include("partials/nav")%>

<div class="flex items-center justify-center min-h-screen bg-[#222831]">
    <div class="flex flex-col w-[640px] justify-center items-center p-8 bg-[#393E46] rounded-lg shadow-lg">
        <h1 class="text-[#EEEEEE] text-4xl font-semibold mb-8"><%= title %></h1>

        <form action="/expense/create" method="post" class="flex flex-col justify-center w-full gap-6 text-[#EEEEEE]">

            <div class="grid grid-cols-2 gap-4 items-center">
                <label class="text-lg font-medium">Enter Title:</label>
                <input class="p-3 bg-transparent border border-gray-500 rounded outline-none" type="text" name="title" placeholder="Title">
            </div>

            <div class="grid grid-cols-2 gap-4 items-center">
                <label class="text-lg font-medium">Enter Amount:</label>
                <input class="p-3 bg-transparent border border-gray-500 rounded outline-none" type="number" name="amount" placeholder="Amount">
            </div>

            <div class="grid grid-cols-2 gap-4 items-center">
                <label class="text-lg font-medium">Enter Category:</label>
                <input class="p-3 bg-transparent border border-gray-500 rounded outline-none" type="text" name="category" placeholder="Category">
            </div>

            <div class="grid grid-cols-2 gap-4 items-center">
                <label class="text-lg font-medium">Enter Remark:</label>
                <input class="p-3 bg-transparent border border-gray-500 rounded outline-none" type="text" name="remark" placeholder="Remark">
            </div>

            <div class="grid grid-cols-2 gap-4 items-center">
                <label class="text-lg font-medium">Enter Payment Mode:</label>
                <select class="p-3 bg-[#393E46] text-[#EEEEEE] border border-gray-500 rounded appearance-none" name="paymentmode">
                    <option class="bg-[#393E46] text-[#EEEEEE]" value="UPI">UPI</option>
                    <option class="bg-[#393E46] text-[#EEEEEE]" value="Cash">Cash</option>
                    <option class="bg-[#393E46] text-[#EEEEEE]" value="Card">Card</option>
                    <option class="bg-[#393E46] text-[#EEEEEE]" value="Cheque">Cheque</option>
                </select>
            </div>

            <button class="p-3 bg-[#00ADB5] rounded-xl hover:bg-[#17757a] text-white text-lg font-semibold mt-6">Log Expense</button>

        </form>
    </div>
</div>

<%- include('partials/footer')%>
