<%- include("partials/header")%>
<%- include("partials/nav")%>

<div class="flex justify-center items-center min-h-screen bg-[#222831]">
    <div class="flex flex-col w-[680px] p-8 bg-[#393E46] rounded-lg shadow-lg">
        <h1 class="text-[#EEEEEE] text-4xl font-semibold mb-8"><%= title %></h1>

        <form action="/user/forget-password" method="post" class="flex flex-col gap-6 text-[#EEEEEE]">

            <div class="flex flex-col gap-2">
                <label class="text-lg font-medium">Enter Email:</label>
                <input class="p-3 bg-[#393E46] border border-gray-500 rounded text-[#EEEEEE]" type="email" name="email" placeholder="example@john.doe">
            </div>

            <div class="flex justify-center">
                <button class="px-6 py-3 bg-blue-700 rounded-xl hover:bg-blue-900 text-white text-lg font-semibold transition duration-200 ease-in-out">Get OTP</button>
            </div>
        </form>
    </div>
</div>

<%- include("partials/footer")%>
