

<%- include('partials/header')%>
    <%- include("partials/nav")%>
    <div class="flex items-center flex-col  w-[full] h-[full]">
        <h1 class="text-blue-700 text-6xl mt-[10px]"><%=title%></h1>
        
        <a class="text-white p-4 bg-blue-700 hover:bg-blue-900 rounded-lg text-4xl mt-[50px]" href="/user/signin">Click to Get Start!</a>
    </div>
   
<%- include('partials/footer')%>
