
<%- include('partials/header')%>
    <%- include("partials/nav")%>
    <div class="flex items-center justify-center w-[full] h-[full] flex-col">
        <h1 class="text-blue-700 text-6xl mt-[10px]"><%=title%></h1>
    </div>
    
<%- include('partials/footer')%>
