<%- include("partials/header")%>
    <%- include("partials/nav")%>
        
        <div class="flex items-center flex-col  w-[full] h-[full]">
            <h1 class="text-blue-700 text-6xl mt-[10px]"><%=title%></h1>
            <a class="text-4xl mt-[10px]" href="/user/signout">Signout</a>
        </div>
            
<%- include("partials/footer")%>